Music
Pictures
Public
Templates
Downloads
Desktop
Videos
source
.adobe
.cache
.compiz
.config
.gstreamer-0.10
.gnome
.local
.macromedia
.mozilla
.npm
.pki
.remmina
.ssh/tachyon
.ssh/seglo
.bash_history
.bash_logout
.ICEauthority
.Xauthority
.xsession*
examples.desktop