Music
Pictures
Public
Templates
Downloads
Documents
Desktop
Videos
source
gdrive
tmp
WinDocuments
hma
idea*
spark*
.adobe
.android
.cache
.compiz
.config
.dbus
.dbshell
.gconf
.gimp-2.8
.gstreamer-0.10
.gnome
.heroku
.java
.lesshst
.local
.m2
.mono
.neo4j_shell_history
.netrc
.ivy2
.IntelliJIdea14
.macromedia
.mozilla
.node-gyp
.npm
.npmrc
.pip
.python_history
.pki
.qws
.remmina
.sbt
.scala_history
.spark_history
.subversion
.ssh
.thumbnails
.weblaf
.zinc
.recently-used
.bash_history
.bash_logout
.ICEauthority
.Xauthority
.xsession*
.xsel.log
.viminfo
examples.desktop
