Music
Pictures
Public
Templates
Downloads
Documents
Desktop
Videos
source
gdrive
tmp
.adobe
.cache
.compiz
.config
.dbus
.gstreamer-0.10
.gnome
.local
.ivy2
.macromedia
.mozilla
.node-gyp
.npm
.npmrc
.pki
.remmina
.sbt
.scala_history
.ssh/tachyon
.ssh/seglo
.ssh/slurp*
.recently-used
.bash_history
.bash_logout
.ICEauthority
.Xauthority
.xsession*
.xsel.log
.viminfo
examples.desktop
